In [1]:
#從外部網址抓資料
!pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.8/site-packages (0.2.37)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2.4.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: lxml>=4.9.1 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (5.2.1)
Requirement already satisfied: html5lib>=1.1 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.24.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2.0.3)
Requirement already satisfied: appdirs>=1.4.4 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.8/site-packages (from yfinance) (2024.1)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /opt/anaconda3/lib/python3.8/site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.31->yfinance) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.31->yfinance) (2020.12.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests>=2.31->yfinance) (2.10)

In [3]:
import yfinance as yf
df=yf.download("2330.TW","2022-06-27")

[*********************100%%**********************]  1 of 1 completed

In [4]:
type(df)

pandas.core.frame.DataFrame

In [7]:
#transfer to excel
df.to_excel('yahoo_2330TW.xlsx')

<ipython-input-7-d0198862f90b>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df.to_excel('yahoo_2330TW.xlsx')

In [8]:
import os

In [9]:
#尋找預設工作資料夾
os.getcwd()

'/Users/sue'

In [19]:
import yfinance as yf
df2=yf.download("2317.TW","2020-01-01")

[*********************100%%**********************]  1 of 1 completed

In [20]:
#transfer to excel
df2.to_excel('yahoo_2317TW.xlsx')

<ipython-input-20-9ae5963c9eed>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df2.to_excel('yahoo_2317TW.xlsx')

In [17]:
import yfinance as yf
df3=yf.download("2353.TW","2020-01-01")

[*********************100%%**********************]  1 of 1 completed

In [18]:
#transfer to excel
#sep=seperate
df3.to_excel('yahoo_2353TW.xlsx')

<ipython-input-18-ad14b92cda1c>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df3.to_excel('yahoo_2353TW.xlsx')

In [31]:
#transfer to csv
df3.to_csv('yahoo_2353TW.csv',sep=' ',index_col='Date')

TypeError: to_csv() got an unexpected keyword argument 'index_col'

In [21]:
df3

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  17.900000  17.950001  17.799999  17.799999  13.416277    5383237
2020-01-03  17.900000  18.000000  17.750000  17.900000  13.491652    7256023
2020-01-06  17.799999  17.850000  17.600000  17.650000  13.303219    7615770
2020-01-07  17.650000  17.799999  17.549999  17.549999  13.227848    5708642
2020-01-08  17.500000  17.549999  17.400000  17.450001  13.152476    7981411
...               ...        ...        ...        ...        ...        ...
2024-04-12  50.700001  50.700001  48.500000  48.500000  48.500000  127369458
2024-04-15  47.750000  48.299999  47.200001  47.549999  47.549999   53783292
2024-04-16  47.200001  47.500000  45.000000  45.500000  45.500000   62705501
2024-04-17  45.650002  45.900002  45.049999  45.049999  45.049999   42109500
2024-04-18  45.000000  45.599998  44.950001  45.000000  45.000000   22316878

[1041 rows x 6 columns]